# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executable
TrigramGenerator

# Visual Studio Files
*.sdf
*.suo
*.filters
*.user
ipch/
Debug/
Release/
